<div class="row justify-content-center">
  <button class="btn
  z-15
  {{settings.scroll_top_btn_variant}}
  {{settings.scroll_top_btn_color}}
  {{settings.scroll_top_btn_size}}
  scroll-top-btn
  animate__animated
  {{settings.scroll_top_animation_time}}
  {{settings.scroll_to_top_btn_effect}}
  d-none
  shadow"
  id="scroll-top-btn"
  data-scroll-top-min ="{{settings.scroll_top_height}}px"
  data-scroll-top-max ="85px"
  data-animate-in = "{{settings.scroll_top_animation_in}}"
  data-animate-out = "{{settings.scroll_top_animation_out}}">
    <i class="fas fa-arrow-up"></i>
  </button>
</div>
