{% if section.settings.heading %}
  <{{ section.settings.heading_size }} class="text-center">
    {{ section.settings.heading | escape }}
  </{{ section.settings.heading_size }}>
{% endif %}

{% if section.settings.paragraph %}
  <div class="rte mb-5 text-muted text-center">
    {{ section.settings.paragraph }}
  </div>
{% endif %}

<ul class="list-unstyled row justify-content-center">

  {% for block in section.blocks %}
    <li class="col-6 col-md-4 col-xl-3 my-2 text-center">

      {% if block.settings.image != blank %}
        <img
          src="{{ block.settings.image | img_url: '480x480', crop: 'center' }}"
          class="img-fluid img-thumbnail mb-3 {{ section.settings.thumbnail_style }}"
          alt="{{ block.settings.img.alt | escape }}"
          width="480"
          height="480"
        >
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'svg-placeholder img-thumbnail img-fluid bg-light mb-3 ' | append: section.settings.thumbnail_style }}
        {% endif %}

      <h4 class="h5 mb-1">{{ block.settings.name | escape }}</h4>
      <p class="text-muted font-italic">{{ block.settings.position | escape }}</p>

    </li>
  {% endfor %}

</ul>

{% schema %}
{
  "name": "Team",
  "class": "about-team mb-4",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Team"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "<p>Our mission is to provide the most awesome products.</p>"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "default": "h2",
      "options": [
        {
          "value": "h1", "label": "H1"
        },
        {
          "value": "h2", "label": "H2"
        },
        {
          "value": "h3", "label": "H3"
        },
        {
          "value": "h4", "label": "H4"
        },
        {
          "value": "h5", "label": "H5"
        },
        {
          "value": "h6", "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id": "thumbnail_style",
      "label": "Thumbnail style",
      "default": "rounded",
      "options": [
        {
          "value": "rounded", "label": "Rounded"
        },
        {
          "value": "rounded-circle", "label": "Circle"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Team Member",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Member Photo"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "position",
          "label": "Position"
        }
      ]
    }
  ],
  "default": {
    "settings": {
    },
    "blocks": [
      {
        "type": "image",
        "settings": { "name": "John Doe", "position": "CEO, Co-founder" }
      },
      {
        "type": "image",
        "settings": { "name": "Jane Doe", "position": "CFO, Co-founder" }
      },
      {
        "type": "image",
        "settings": { "name": "Jim Doe", "position": "Marketing Director" }
      },
      {
        "type": "image",
        "settings": { "name": "Jill Doe", "position": "Support Team" }
      }
    ]
  }
}
{% endschema %}
