<div class="
  {% if section.settings.container %} container {% else %} container-fluid {% endif %}
  {{ section.settings.margin_top | prepend: 'mt-' }}
  {{ section.settings.margin_bottom | prepend: 'mb-' }}
">

    {% if section.settings.heading != blank %}
    <{{ section.settings.heading_size }}>
        {{ section.settings.heading | escape }}
    </{{ section.settings.heading_size }}>
    {% endif %}

    <ul id="brands-{{ section.id }}" class="image-scroller list-unstyled mt-3 mb-8" data-speed="{{ section.settings.speed }}">

    {% for block in section.blocks %}
        <li class="d-inline-block p-2">
        {% if block.settings.url != blank %}
            <a href="{{ block.settings.url }}">
        {% endif %}

            {% assign image_size = section.settings.image_height | prepend: 'x' %}

            {% if block.settings.image != blank %}
            <img
                class="img-fluid lazyload"
                src="{{ 'no-image.jpg' | asset_img_url: img_size, crop: 'center' }}"
                data-src="{{ block.settings.image | img_url: image_size, crop: 'center' }}"
                alt="{{ block.settings.image.alt }}"
                width="{{ section.settings.image_height | times: block.settings.image.aspect_ratio | round }}"
                height="{{ section.settings.image_height }}"
                loading="lazy">
            {% else %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            <div style="width: 160px; height: 160px">
                {{ 'image' | placeholder_svg_tag: 'img-fluid' }}
            </div>
            {% endif %}

        {% if block.settings.url != blank %}
            </a>
        {% endif %}
        </li>

    {% endfor %}

    </ul>

</div>

{% schema %}
{
  "name": "Brands",
  "class": "text-center pt-2",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Brands you already love"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "default": "h4",
      "options": [
        {
          "value": "h1", "label": "H1"
        },
        {
          "value": "h2", "label": "H2"
        },
        {
          "value": "h3", "label": "H3"
        },
        {
          "value": "h4", "label": "H4"
        },
        {
          "value": "h5", "label": "H5"
        },
        {
          "value": "h6", "label": "H6"
        }
      ]
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
        "type": "checkbox",
        "id": "container",
        "label": "Wrap in container",
        "default": true
    },
    {
      "type": "range",
      "id": "speed",
      "label": "Speed",
      "min": 50,
      "max": 500,
      "step": 50,
      "default": 50
    },
    {
      "type": "text",
      "id": "image_height",
      "label": "Image Height (px)",
      "default": "90"
    },
    {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "paragraph",
        "content": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin top",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 6
      }
    ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brands",
      "category": "Image",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        },
        {
          "type": "image",
          "settings": {
            "url": "#"
          }
        }
      ]
    }
  ]
}
{% endschema %}
