<div class="{% if section.settings.container %}container{% endif %}">

  {% if section.settings.heading != blank %}
      <{{ section.settings.heading_size }} class="{{ section.settings.heading_alignment }}">
        {{ section.settings.heading | escape }}
      </{{ section.settings.heading_size }}>
    {% endif %}
  
    <section
      id="{{ 'carousel-' | append: section.id }}"
      class="
        carousel
        {{ section.settings.transition | escape }}
        {{ section.settings.margin_top | prepend: 'mt-' }}
        {{ section.settings.margin_bottom | prepend: 'mb-' }}
        {% if section.settings.full_height %} carousel-full-height {% endif %}
        {% if section.settings.zoom_effect %} carousel-zoom-effect {% endif %}
      "
      data-ride="carousel"
      data-pause="false"
      data-interval="{{ section.settings.interval | times: 1000 }}"
      aria-roledescription="carousel"
      aria-label="{{ 'carousel.carousel' | t }}"
    >
  
      {% if section.settings.interval > 0 %}
        <button
          class="carousel-autoplay-btn is-playing"
          title="{{ 'carousel.label_stop' | t }}"
          aria-label="{{ 'carousel.label_stop' | t }}"
          data-label-play="{{ 'carousel.label_play' | t }}"
          data-label-stop="{{ 'carousel.label_stop' | t }}"
        >
          <span class="icon-pause">{% render 'icon-pause_circle_outline.liquid' with size: '32' %}</span>
          <span class="icon-play">{% render 'icon-play_circle_outline.liquid', with size: '32' %}</span>
        </button>
      {% endif %}
  
      {% if section.settings.indicators %}
        <ol class="carousel-indicators">
          {% for block in section.blocks %}
            <li
              data-target="#{{ 'carousel-' | append: section.id }}"
              data-slide-to="{{ forloop.index0 }}"
              class="{% if forloop.first == true %} active {% endif %}"
            ></li>
          {% endfor %}
        </ol>
      {% endif %}
  
      <div id="{{ 'carousel-inner' | append: section.id }}" class="carousel-inner" aria-live="off">
        {% for block in section.blocks %}
          <div
            class="carousel-item {% if forloop.first == true %} active {% endif %} {% if block.settings.caption_backdrop %}caption-backdrop{% endif %} {% if section.settings.slider_animation_in != blank %}animate__animated {{section.settings.slider_animation_in}} {{section.settings.slider_animation_duration}} {% endif %}"
            role="group"
            aria-roledescription="slide"
            aria-label="{{ 'carousel.slide_number_off' | t: slide_number: forloop.index, total_slides: section.blocks.size }}"
          >
  
            {% if block.settings.image != blank %}
  
              {% assign img_size_800 = section.settings.image_height_aspect_ratio | times: 800 | round | prepend: '800x'  %}
              {% assign img_size_1600 = section.settings.image_height_aspect_ratio | times: 1600 | round | prepend: '1600x'  %}
  
              <img
                  class="d-block w-100 h-auto"
                  {% if section.settings.lazyload and forloop.index0 > 1  %}
                    src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                    srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                  {% else %}
                    src="{{ block.settings.image | img_url: img_size_1600, crop: 'center' }}"
                    srcset="{{ block.settings.image | img_url: img_size_800, crop: 'center' }} 800w, {{ block.settings.image | img_url: img_size_1600, crop: 'center' }} 1600w"
                  {% endif %}
                  data-src="{{ block.settings.image | img_url: img_size_1600, crop: 'center' }}"
                  data-srcset="{{ block.settings.image | img_url: img_size_800, crop: 'center' }} 800w, {{ block.settings.image | img_url: img_size_1600, crop: 'center' }} 1600w"
                  alt="{{ block.settings.image.alt }}"
                  width="1600"
                  height="{{ section.settings.image_height_aspect_ratio | times: 1600 | round }}"
                  style="{{ section.settings.img_min_height | prepend: 'min-height: ' | append: 'px' }}">
            {% else %}
              {% capture current %}{% cycle 1, 2 %}{% endcapture %}
              {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg d-block bg-secondary' }}
            {% endif %}
  
            {% if block.settings.caption_heading != blank or block.settings.caption_text != blank %}
              <div class="carousel-caption text-white">
                {% if block.settings.caption_heading != blank %}
                  <{{ block.settings.caption_heading_size }}>{{ block.settings.caption_heading }}</{{ block.settings.caption_heading_size }}>
                {% endif %}
                {% if block.settings.caption_text != blank %}
                  <div class="rte">
                    {{ block.settings.caption_text }}
                  </div>
                {% endif %}
  
                {% if block.settings.button_url != blank %}
                  <a href="{{ block.settings.button_url }}" class="btn mb-3 {{ block.settings.btn_color }} {{ block.settings.btn_variant }} {{ block.settings.btn_size }}">
                    {{ block.settings.button_text }}
                  </a>
                {% endif %}
  
              </div>
            {% endif %}
  
          </div>
        {% endfor %}
      </div>
  
      {% if section.settings.controls %}
        <a class="carousel-control-prev" href="#{{ 'carousel-' | append: section.id }}" role="button" data-slide="prev" aria-controls="{{ 'carousel-inner' | append: section.id }}">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">{{ 'misc.previous' | t }}</span>
        </a>
        <a class="carousel-control-next" href="#{{ 'carousel-' | append: section.id }}" role="button" data-slide="next" aria-controls="{{ 'carousel-inner' | append: section.id }}">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">{{ 'misc.next' | t }}</span>
        </a>
      {% endif %}
  
      {% if section.settings.progress_bar and section.settings.interval > 0 %}
        <div class="carousel-progress-bar"></div>
      {% endif %}
  
    </section>
  
  </div>
  
  {% if section.settings.full_height %}
  <style>
      #shopify-section-header {
          position: fixed;
          width: 100%;
      }
  </style>
  {% endif %}
  
  {% schema %}
  {
    "name": "Carousel",
    "settings": [
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading text"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "Heading Size",
        "default": "h2",
        "options": [
          {
            "value": "h1", "label": "H1"
          },
          {
            "value": "h2", "label": "H2"
          },
          {
            "value": "h3", "label": "H3"
          },
          {
            "value": "h4", "label": "H4"
          },
          {
            "value": "h5", "label": "H5"
          },
          {
            "value": "h6", "label": "H6"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-left", "label": "Left"
          },
          {
            "value": "text-center", "label": "Center"
          },
          {
            "value": "text-right", "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "checkbox",
        "id": "controls",
        "default": true,
        "label": "Show Controls",
        "info": "Prev/Next buttons"
      },
      {
        "type": "checkbox",
        "id": "indicators",
        "default": true,
        "label": "Show Indicators",
        "info": "Small dots at the bottom"
      },
      {
        "type": "checkbox",
        "id": "container",
        "label": "Wrap in container",
        "default": false
      },
      {
        "type": "header",
        "content": "Image settings"
      },
      {
        "type": "range",
        "id": "image_height_aspect_ratio",
        "min": 0.1,
        "max": 1,
        "step": 0.1,
        "label": "Image height aspect ratio",
        "default": 0.4,
        "info": "Recommended values are between '0.3' to '0.6'. Use a higher value if you have enabled the 'Full height' setting below"
      },
      {
        "type": "text",
        "id": "img_min_height",
        "label": "Image Minimum Height (px)",
        "default": "280",
        "info": "Useful for mobile view"
      },
      {
        "type": "header",
        "content": "Transition"
      },
      {
        "type": "select",
        "id":  "transition",
        "label": "Transition effect",
        "default": "slide carousel-fade",
        "options": [
          {
            "value": "slide", "label": "Slide"
          },
          {
            "value": "slide carousel-fade", "label": "Fade"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "zoom_effect",
        "label": "Enable zoom effect",
        "default": true
      },
      {
        "type": "header",
        "content": "Autoplay"
      },
      {
        "type": "range",
        "id": "interval",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "sec",
        "label": "Autoplay time",
        "default": 5,
        "info": "Select '0' to disable"
      },
      {
        "type": "checkbox",
        "id": "progress_bar",
        "default": true,
        "label": "Show progress bar"
      },
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 12,
        "step": 1,
        "label": "Margin top",
        "default": 0,
        "info": "Based on Bootstrap scaling [Learn more](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 12,
        "step": 1,
        "label": "Margin bottom",
        "default": 8,
        "info": "Based on Bootstrap scaling [Learn more](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
      },
      {
        "type": "header",
        "content": "Experimental"
      },
      {
        "type": "checkbox",
        "id": "full_height",
        "label": "Full height carousel",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "lazyload",
        "label": "Enable lazyload",
        "info": "Disable if you are experiencing issues with slides not loading",
        "default": true
      },
    {
      "type": "header",
      "content": "Slide enterance animations"
    },
    {
      "type": "select",
      "id": "slider_animation_in",
      "label": "Slide animation entrance class",
      "info": "Pick an animation class name from [Animate.css](https:\/\/animate.style).",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Disabled"
        },
        {
          "value": "animate__bounceIn",
          "label": "bounceIn"
        },
        {
          "value": "animate__bounceInDown",
          "label": "bounceInDown"
        },
        {
          "value": "animate__bounceInLeft",
          "label": "bounceInLeft"
        },
        {
          "value": "animate__bounceInRight",
          "label": "bounceInRight"
        },
        {
          "value": "animate__bounceInUp",
          "label": "bounceInUp"
        },
        {
          "value": "animate__fadeIn",
          "label": "fadeIn"
        },
        {
          "value": "animate__fadeInDown",
          "label": "fadeInDown"
        },
        {
          "value": "animate__fadeInDownBig",
          "label": "fadeInDownBig"
        },
        {
          "value": "animate__fadeInLeft",
          "label": "fadeInLeft"
        },
        {
          "value": "animate__fadeInLeftBig",
          "label": "fadeInLeftBig"
        },
        {
          "value": "animate__fadeInRight",
          "label": "fadeInRight"
        },
        {
          "value": "animate__fadeInRightBig",
          "label": "fadeInRightBig"
        },
        {
          "value": "animate__fadeInUp",
          "label": "fadeInUp"
        },
        {
          "value": "animate__fadeInUpBig",
          "label": "fadeInUpBig"
        },
        {
          "value": "animate__rotateIn",
          "label": "rotateIn"
        },
        {
          "value": "animate__rotateInDownLeft",
          "label": "rotateInDownLeft"
        },
        {
          "value": "animate__rotateInDownRight",
          "label": "rotateInDownRight"
        },
        {
          "value": "animate__rotateInUpLeft",
          "label": "rotateInUpLeft"
        },
        {
          "value": "animate__rotateInUpRight",
          "label": "rotateInUpRight"
        },
        {
          "value": "animate__lightSpeedIn",
          "label": "lightSpeedIn"
        },
        {
          "value": "animate__rollIn",
          "label": "rollIn"
        },
        {
          "value": "animate__flip",
          "label": "flip"
        },
        {
          "value": "animate__flipInX",
          "label": "flipInX"
        },
        {
          "value": "animate__flipInY",
          "label": "flipInY"
        },
        {
          "value": "animate__slideInDown",
          "label": "slideInDown"
        },
        {
          "value": "animate__slideInLeft",
          "label": "slideInLeft"
        },
        {
          "value": "animate__slideInRight",
          "label": "slideInRight"
        },
        {
          "value": "animate__hinge",
          "label": "hinge (more for a joke not useful)"
        }
      ]
    },
    {
      "type": "select",
      "id": "slider_animation_duration",
      "label": "Animation duration",
      "default": "animate__faster",
      "options": [
          {
              "value": "animate__slower", "label": "Slower"
          },
          {
              "value": "animate__slow", "label": "Slow"
          },
          {
              "value": "", "label": "Normal"
          },
          {
              "value": "animate__fast", "label": "Fast"
          },
          {
              "value": "animate__faster", "label": "Faster"
          }
      ]
  }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "caption_heading",
            "label": "Caption heading"
          },
          {
            "type": "richtext",
            "id": "caption_text",
            "label": "Caption text"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL",
            "info": "Leave empty to disable button"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "Learn more"
          },
          {
            "type": "header",
            "content": "Block settings"
          },
          {
            "type": "checkbox",
            "id": "caption_backdrop",
            "label": "Caption backdrop",
            "default": true
          },
          {
            "type": "select",
            "id": "caption_heading_size",
            "label": "Caption heading size",
            "default": "h4",
            "options": [
              {
                "value": "h1", "label": "H1"
              },
              {
                "value": "h2", "label": "H2"
              },
              {
                "value": "h3", "label": "H3"
              },
              {
                "value": "h4", "label": "H4"
              },
              {
                "value": "h5", "label": "H5"
              },
              {
                "value": "h6", "label": "H6"
              }
            ]
          },
          {
              "type": "select",
              "id": "btn_color",
              "label": "Button color",
              "default": "btn-primary",
              "options": [
                  { "value": "btn-primary", "label": "Primary" },
                  { "value": "btn-secondary", "label": "Secondary" }
              ]
          },
          {
              "type": "select",
              "id": "btn_variant",
              "label": "Button variant",
              "default": "",
              "options": [
                  { "value": "", "label": "Normal" },
                  { "value": "btn-outline", "label": "Outline" }
              ]
          },
          {
              "type": "select",
              "id": "btn_size",
              "label": "Button size",
              "default": "",
              "options": [
                  { "value": "btn-sm", "label": "Small" },
                  { "value": "", "label": "Normal" },
                  { "value": "btn-lg", "label": "Large" }
              ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Carousel",
        "category": "Image",
        "blocks": [
          {
            "type": "image",
            "settings": {
              "caption_heading": "First slide title",
              "caption_text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
            }
          },
          {
            "type": "image",
            "settings": {
              "caption_heading": "Second slide title",
              "caption_text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
            }
          },
          {
            "type": "image",
            "settings": {
              "caption_heading": "Third slide title",
              "caption_text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
            }
          }
        ]
      }
    ]
  }
  {% endschema %}
  