<section id="announcement-banner"
  class="
    {{ section.settings.margin_top | prepend: 'mt-' }}
    {{ section.settings.margin_bottom | prepend: 'mb-' }}
    {{ section.settings.padding_top | prepend: 'pt-' }}
    {{ section.settings.padding_bottom | prepend: 'pb-' }}
    {{ section.settings.bg_color }}
  ">
    <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">
    {%- if section.settings.text != blank -%}
    <div class="d-flex flex-wrap align-items-center">
      <div class="col-md-9 col-lg-10 text-light">
        {{ section.settings.text }}
      </div>
      <div class="ml-3 mt-3 mt-md-0">
        <a href="{{ section.settings.button_link }}"
          class="btn {{ section.settings.btn_color }} {{ section.settings.btn_variant }} {{ section.settings.btn_size }} {{section.settings.btn_effect}} {% if section.settings.btn-block %}btn-block{% endif %}">
          {{ section.settings.button_label | escape }}
        </a>
      </div>
    </div>
    {%- endif -%}
  </div>
</section>
{% schema %}
  {
    "name": "Announcement Banner",
    "class": "announcement-banner lazysection",
    "settings": [
       {
         "type": "header",
         "content": "General settings"
       },
       {
         "type": "select",
         "id": "bg_color",
         "label": "Background color",
         "default": "bg-dark text-white",
         "options": [
           {
             "value": "", "label": "White"
           },
           {
             "value": "bg-light", "label": "Light"
           },
           {
             "value": "bg-dark text-white", "label": "Dark"
           },
           {
             "value": "bg-primary text-white", "label": "Primary"
           }
         ]
       },
       {
         "type": "checkbox",
         "id": "container",
         "label": "Wrap in container",
         "default": true
       },
       {
         "type": "header",
         "content": "Spacing"
       },
       {
         "type": "paragraph",
         "content": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
       },
       {
         "type": "range",
         "id": "padding_top",
         "label": "Padding top",
         "min": 0,
         "max": 12,
         "step": 1,
         "default": 6
       },
       {
         "type": "range",
         "id": "padding_bottom",
         "label": "Padding bottom",
         "min": 0,
         "max": 12,
         "step": 1,
         "default": 3
       },
       {
         "type": "range",
         "id": "margin_top",
         "label": "Margin top",
         "min": 0,
         "max": 12,
         "step": 1,
         "default": 0
       },
       {
         "type": "range",
         "id": "margin_bottom",
         "label": "Margin bottom",
         "min": 0,
         "max": 12,
         "step": 1,
         "default": 0
       },
       {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "btn_color",
        "label": "Button color",
        "default": "btn-primary",
        "options": [
            { "value": "btn-primary", "label": "Primary" },
            { "value": "btn-secondary", "label": "Secondary" }
        ]
    },
    {
        "type": "select",
        "id": "btn_variant",
        "label": "Button variant",
        "default": "",
        "options": [
            { "value": "", "label": "Normal" },
            { "value": "btn-outline", "label": "Outline" }
        ]
    },
    {
        "type": "select",
        "id": "btn_size",
        "label": "Button size",
        "default": "",
        "options": [
            { "value": "btn-sm", "label": "Small" },
            { "value": "", "label": "Normal" },
            { "value": "btn-lg", "label": "Large" }
        ]
       },
        {
          "type": "checkbox",
          "id": "btn-block",
          "label": "Enable full width",
          "default": false
        },
        {
          "type": "select",
          "id": "btn_effect",
          "label": "Button hover effect",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Disabled"
            },
            {
              "value": "btn-shine",
              "label": "Shine"
            },
            {
              "value": "btn-ripple",
              "label": "Ripple"
            },
            {
              "value": "btn-expand",
              "label": "Expand"
            }
          ]
        },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Use this section to make an announcement on the home page. It's a great place for social media updates!"
      }
    ],
    "presets": [{
        "name": "Announcement Banner",
        "category": "Text"
    }]
  }
{% endschema %}
