{% case section.settings.navbar_expand %}
  {% when 'navbar-expand-sm' %}
    {% assign collapseOrder = 'order-sm-0' %}
    {% assign navbarIconsFlex = 'flex-sm-grow-0' %}
  {% when 'navbar-expand-md' %}
    {% assign collapseOrder = 'order-md-0' %}
    {% assign navbarIconsFlex = 'flex-md-grow-0' %}
  {% when 'navbar-expand-lg' %}
    {% assign collapseOrder = 'order-lg-0' %}
    {% assign navbarIconsFlex = 'flex-lg-grow-0' %}
  {% when 'navbar-expand-xl' %}
    {% assign collapseOrder = 'order-xl-0' %}
    {% assign navbarIconsFlex = 'flex-xl-grow-0' %}
  {% else %}
    {% assign collapseOrder = '' %}
    {% assign navbarIconsFlex = '' %}
{% endcase %}

<div class="collapse bg-dark" id="navbar-search-collapse">
  <div class="container py-4">
    <form action="/search" method="get" class="" role="search">
      <input type="hidden" name="type" value="product">
      <div class="input-group">
        <input
          type="search"
          name="q"
          id="Search-{{ section.id }}"
          class="form-control"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'search.title' | t }}"
          aria-label="{{ 'search.title' | t }}"
          size="26">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">{{ 'search.submit' | t }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="navbar-search-overlay"></div>
{% assign mobile_menu_top = false %}
{% if section.settings.announcement_enabled %}
  {% assign mobile_menu_top = true %}
<div
  id="announcement-bar"
  class="py-0 text-center small {{ section.settings.announcement_color }}"
  role="alert">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="{{ section.settings.navbar_expand }}">
      <button
        class="navbar-toggler collapsed py-2 px-2"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-collapse"
        aria-controls="navbar-collapse"
        style="margin-left: -10px;"
        aria-expanded="false"
        aria-label="{{ 'misc.toggle_nav' | t }}">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      {% if section.settings.announcement_homepage == false or template.name == 'index' %}
        <p class="py-2 mb-0 w-100" style="line-height: normal;">
          {{ section.settings.announcement_text | escape }}

          {% if section.settings.announcement_link_url != blank %}
            <a  href="{{ section.settings.announcement_link_url }}">
              {{ section.settings.announcement_link_text | escape }}
            </a>
          {% endif %}
        </p>
      {% endif %}
    

    <div class="navbar p-0">
      {% if section.settings.currency_converter_enable and shop.enabled_currencies.size > 1 %}
        <div
          id="currency-convertor"
          class="nav-item">
          <div class="dropdown">
            <a
              href="#"
              id="currency-convertor-link"
              class="nav-link d-inline-flex py-2 text-decoration-none px-2 align-items-center"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              data-text-title="{{ 'misc.switch_currency_title' | t }}"
              data-text-text="{{ 'misc.switch_currency_text' | t }}"
              data-text-btn="{{ 'misc.switch_currency_btn' | t }}">
              {% if section.settings.currency_converter_show_flag %}
                {% assign currency_image = 'flag-' | append: cart.currency.iso_code | downcase | append: '.png' %}
                <img
                    class="lazyload mr-"
                    src=""
                    data-src="{{ currency_image | asset_img_url }}"
                    width="20"
                    height="13"
                    aria-hidden="true"
                    loading="lazy"
                    style="margin-right: .5rem;">
              {% endif %}
              {{ cart.currency.iso_code }}
              <span class="sr-only">
                {{ 'misc.currency' | t }}
              </span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right pt-0 shadow"
              style="margin-top: -1px;"
              aria-labelledby="currency-convertor-link">
              {% if section.settings.currency_converter_show_filter %}
                <div class="bg-light px-3 py-3">
                  <input type="search" class="form-control" placeholder="{{ 'misc.filter' | t }}" aria-label="{{ 'misc.filter' | t }}">
                </div>
              {% endif %}
              <div class="overflow-auto py-2" style="max-height: 50vh;">
                {% form 'currency' %}
                  <input type="hidden" name="currency" value="{{ cart.currency.iso_code }}">
                  <ul class="list-unstyled py-1 mb-0">
                    {% for currency in shop.enabled_currencies %}
                      <button
                        class="dropdown-item d-flex align-items-center {% if currency == cart.currency %} active{% endif %} "
                        data-value="{{ currency.iso_code }}"
                        onclick="changeCurrency('{{ currency.iso_code }}')"
                        type="button">
                        {% if section.settings.currency_converter_show_flag %}
                            {% assign currency_image = 'flag-' | append: currency.iso_code | downcase | append: '.png' %}
                            <img
                                class="lazyload mr-"
                                src=""
                                data-src="{{ currency_image | asset_img_url }}"
                                width="24"
                                height="16"
                                aria-hidden="true"
                                loading="lazy"
                                style="margin-right: .75rem;">
                        {% endif %}
                        {{ currency.iso_code }}
                      </button>
                    {% endfor %}
                  </ul>
                {% endform %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

  </div>
</div>
{% endif %}
<nav
  id="navbar"
  class="
    navbar
    {{ section.settings.navbar_expand }}
    {{ section.settings.navbar_color }}
    {{ section.settings.shadow_style }}
    {% if section.settings.offcanvas_enabled %}
      navbar-off-canvas
      {{ section.settings.offcanvas_position }}
  {% endif %}
  {% if section.settings.sticky %}
    header-is-sticky
  {% endif %}">
  {% if section.settings.container %}
    <div class="container position-relative">
  {% endif %}
  {% if mobile_menu_top != true %}
  <div class="{{ section.settings.navbar_expand }}">
    <button
      class="navbar-toggler collapsed py-2 px-2"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-collapse"
      aria-controls="navbar-collapse"
      style="margin-left: -10px;"
      aria-expanded="false"
      aria-label="{{ 'misc.toggle_nav' | t }}">
      {% if section.settings.navbar_color == 'custom-nav-bg' %}
      <span class="icon-bar icon-bar-custom"></span>
      <span class="icon-bar icon-bar-custom"></span>
      <span class="icon-bar icon-bar-custom"></span>
      {% else %}
      <span class="icon-bar icon-bar-dark"></span>
      <span class="icon-bar icon-bar-dark"></span>
      <span class="icon-bar icon-bar-dark"></span>
      {% endif %}
    </button>
  </div>
  {% endif %}
    <a class="navbar-brand {% if mobile_menu_top != true %}ml-auto mr-auto{% endif %}" href="/">
      {% if section.settings.logo == blank and section.settings.image_svg == blank %}
        <span>{{ shop.name }}</span>
      {% else %}
      {% if section.settings.image_svg != blank %}
      {% assign img_fluid = 'svg-fluid' | prepend: '<svg class="' | append: '"'%}
           {{section.settings.image_svg | replace: "<svg", img_fluid }}
      {% else %}
        {% assign imageSize = section.settings.logo_height | prepend: 'x' %}
        <img
          class="img-fluid d-none d-lg-block"
          src="{{ section.settings.logo | img_url: imageSize }}"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          width="{{ section.settings.logo_height | times: section.settings.logo.aspect_ratio | round }}"
          height="{{ section.settings.logo_height }}">
        {% assign imageSizeMobile = section.settings.logo_height_mobile | prepend: 'x' %}
        <img
          class="img-fluid d-lg-none"
          src="{{ section.settings.logo | img_url: imageSizeMobile }}"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          width="{{ section.settings.logo_height_mobile | times: section.settings.logo.aspect_ratio | round }}"
          height="{{ section.settings.logo_height_mobile }}">
      {% endif %}
      {% endif %}
    </a>

    <div class="collapse navbar-collapse order-2 {{ collapseOrder }}" id="navbar-collapse">
      <ul class="navbar-nav {{ section.settings.menu_position }}">

        {% for link in linklists[section.settings.menu].links %}
          {% if link.links == blank %}
            <li class="nav-item {% if link.active %}active{% endif %}">
              <a
                class="nav-link"
                href="{{ link.url }}"
                aria-current="{% if link.active %}page{% endif %}">
                {{ link.title }}
              </a>
            </li>
          {% else %}

            {% assign isMegaMenu = false %}
            {% assign isActive = false %}

            {% for child_link in link.links %}
                {% if child_link.links != blank %}
                    {% assign isMegaMenu = true %}
                {% endif %}
              {% if child_link.active %}
                {% assign isActive = true %}
              {% endif %}
            {% endfor %}

            <li class="nav-item dropdown {% if isMegaMenu %}megamenu position-static{% endif %} {% if isActive %}active{% endif %}">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown-{{ forloop.index0 }}"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                {{ link.title | split: '--cols-' | first }}
              </a>
                <ul
                    class="dropdown-menu {% if section.settings.menu_animation_in != blank %}animate__animated {{section.settings.menu_animation_in}} {{section.settings.menu_animation_duration}} {% endif %}{% if isMegaMenu %} w-100 pt-1 pb-0 px-0 px-sm-3 {% endif %} shadow"
                    aria-labelledby="navbarDropdown-{{ forloop.index0 }}">

                    {% if isMegaMenu %}
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-{{ link.links.size }}">
                            {% for child_link in link.links %}
                                <div class="col mt-2 mb-3">
                                    {% if child_link.title contains '--page' %}
                                        {% assign page_handle = child_link.title | remove: "--page" | strip %}
                                        <div class="px-3 px-lg-0">
                                            {{ pages[page_handle].content }}
                                        </div>
                                    {% else %}
                                        <h6 class="dropdown-header">{{ child_link.title }}</h6>
                                        {% for child_2_link in child_link.links %}
                                            <li>
                                                {% if child_2_link.title contains "--divider" %}
                                                    <div class="dropdown-divider"></div>
                                                {% elsif child_2_link.title contains '--header' %}
                                                    <h6 class="dropdown-header">{{ child_2_link.title | remove: "--header" }}</h6>
                                                {% else %}
                                                    <li>
                                                        <a
                                                        class="dropdown-item {% if child_2_link.active %}active{% endif %}"
                                                        href="{{ child_2_link.url }}"
                                                        aria-current="{% if child_2_link.active %}page{% endif %}">
                                                            {{ child_2_link.title }}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                    {% else %}
                        {% for child_link in link.links %}
                            <li>
                                {% if child_link.title contains "--divider" %}
                                    <div class="dropdown-divider"></div>
                                {% elsif child_link.title contains '--header' %}
                                    <h6 class="dropdown-header">{{ child_link.title | remove: "--header" }}</h6>
                                {% elsif child_link.title contains '--page' %}
                                    {% assign page_handle = child_link.title | remove: "--page" | strip %}
                                    <div class="px-3 px-lg-0">
                                        {{ pages[page_handle].content }}
                                    </div>
                                {% else %}
                                    <li>
                                        <a
                                        class="dropdown-item {% if child_link.active %}active{% endif %}"
                                        href="{{ child_link.url }}"
                                        aria-current="{% if child_link.active %}page{% endif %}">
                                            {{ child_link.title }}
                                        </a>
                                    </li>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endif %}

                </ul>
            </li>
          {% endif %}
        {% endfor %}

      </ul>
    </div>
{% assign admin = false %}
{% if customer %}
{% if customer.tags contains 'Admin' %}
{% assign admin = true %}
{% endif %}
{% endif %}
      <ul class="{% if mobile_menu_top != true %}navbar-nav navbar-light navbar-expand justify-content-end {% else %} navbar-nav navbar-light position-relative ml-2 navbar-expand flex-grow-1 justify-content-end {{ navbarIconsFlex }}{% endif %}">
        {% if admin %}
        <li class="nav-item mr-2" id="admin">
          <a href="/pages/admin" class="btn btn-primary"><i class="fas fa-user-shield"></i> Admin</a>
        </li>
        {% endif %}
      <li id="nav-item-search" class="nav-item {% if template.name == 'search' %}active{% endif %}">
        <a
          class="nav-link px-1"
          href="{{ routes.search_url }}"
          role="button"
          id="dropdownSearchButton"
          data-toggle="collapse"
          data-target="#navbar-search-collapse"
          aria-controls="navbar-search-collapse"
          aria-expanded="false">
          {% render 'icon-search' with size: 22 %}
          <span class="sr-only">{{ 'search.title_short' | t }}</span>
        </a>
      </li>
      {% if settings.wishlist_enable %}
        <li id="nav-item-account" class="nav-item {% if page.handle == 'wishlist' %}active{% endif %}">
          <a class="nav-link px-1" id="wishlist-btn-page" href="/pages/wishlist" data-toggle="tooltip" data-placement="top" title="" aria-label="" data-original-title="">
            {% render 'icon-heart' with size: 22 %}
            <span class="sr-only">Wishlist</span>
          </a>
        </li>
      {% endif %}

      {% if shop.customer_accounts_enabled %}
        <li id="nav-item-account" class="nav-item {% if template.name == 'account' or template.name == 'login' %}active{% endif %}">
          <a class="nav-link px-1" href="{{ routes.account_url }}">
            {% render 'icon-user' with size: 22 %}
            <span class="sr-only">{{ 'customer.account.short_title' | t }}</span>
          </a>
        </li>
      {% endif %}

        <li
          id="nav-item-cart"
          class="
            nav-item
            {% if cart.item_count > 0 %}has-items{% endif %}
            {% if template.name == 'cart' %}active{% endif %}">
          <div class="dropdown">
            <a
              id="cart-dropdown-btn"
              class="nav-link px-1"
              href="{{ routes.cart_url }}"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">

            {% case section.settings.cart_icon %}
                {% when 'icon-shopping-bag' %}
                    {% render 'icon-shopping-bag' with size: 20 %}
                {% when 'icon-shopping-basket' %}
                    {% render 'icon-shopping-basket' with size: 20 %}
                {% when 'icon-shopping-minecart' %}
                    {% render 'icon-shopping-minecart' with size: 20 %}
                {% else %}
                    {% render 'icon-shopping-cart' with size: 20 %}
            {% endcase %}

              <span class="sr-only">{{ 'cart.general.title' | t }}</span>
              <span class="ml-0">
                <span id="cart-icon-count" class="badge badge-primary">
                  {{ cart.item_count }}
                </span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right py-0 px-0 shadow" aria-labelledby="cart-dropdown-btn">
              {% if cart.item_count == 0 %}
                <p class="text-center text-muted mb-0 py-3 px-3">
                  {{ 'cart.general.empty_cart' | t }}
                </p>
              {% else %}
                <form method="post" action="/cart" id="mini-cart-btn">
                  <div class="overflow-auto border-bottom bg-white" style="max-height: 50vh;">
                    <ul class="list-unstyled py-2 px-3">
                      {% for item in cart.items %}
                        <li class="py-2">
                          <a
                            class="d-flex align-items-center text-decoration-none"
                            href="{{ item.url | within: collections.all }}">
                            {% if section.settings.cart_minicart_image_show %}
                              {% assign image_size =
                                section.settings.cart_minicart_image_width |
                                  append: 'x' |
                                    append: section.settings.cart_minicart_image_height %}
                              <div class="
                                    flex-shrink-0
                                  position-relative
                                  overflow-hidden
                                  mr-3
                                  {% if section.settings.cart_minicart_image_border %}
                                    img-thumbnail
                                  {% else %}
                                    rounded
                                  {% endif %}
                                  {{ section.settings.cart_minicart_image_hover_effect }}
                                ">
                                <img
                                  class="lazyload"
                                  src="{{ 'no-image.jpg' | asset_img_url: img_size, crop: 'center' }}"
                                  data-src="{{ item | img_url: image_size, crop: 'center' }}"
                                  alt="{{ item.title | escape }}"
                                  width="{{ section.settings.cart_minicart_image_width }}"
                                  height="{{ section.settings.cart_minicart_image_height }}"
                                  loading="lazy">
                              </div>
                            {% endif %}
                            <div>
                              <b class="d-block">
                                {{ item.quantity }} x {{ item.product.title }}
                              </b>
                              {% unless item.product.has_only_default_variant %}
                                <span class="d-block text-muted small">
                                  {{ item.variant.title }}
                                </span>
                              {% endunless %}
                              <span class="d-block text-body">
                                {{ item.line_price | money }}
                              </span>
                            </div>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="bg-light px-3 pt-3 pb-3">
                    <p class="text-center">
                      <span class="text-muted">{{ 'cart.general.subtotal' | t }}: </span>
                      <b>{{ cart.total_price | money }}</b>
                    </p>

                    <div class="d-flex justify-content-center mx-n1">
                      <a
                        href="{{ routes.cart_url }}"
                        class="btn btn-secondary w-100 m-1">
                        {{ 'cart.general.view_cart' | t }}
                      </a>
                      <button
                        type="submit"
                        name="checkout"
                        class="btn btn-primary w-100 m-1">
                        {{ 'cart.general.checkout' | t }}
                      </a>
                    </div>
                  </div>
                </form>
              {% endif %}
          </div>
      </li>

    </ul>

  {% if section.settings.container %}
    </div>
  {% endif %}

</nav>


{% schema %}
{
  "name": "Header",
  "class": "site-header show",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "checkbox",
      "id": "announcement_enabled",
      "label": "Enable announcement bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "announcement_homepage",
      "label": "Show on home page only",
      "default": true
    },
    {
      "type": "select",
      "id": "announcement_color",
      "label": "Announcement bar Color",
      "options": [
        {
          "value": "bg-white text-muted", "label": "White"
        },
        {
          "value": "bg-light text-muted", "label": "Light"
        },
        {
          "value": "bg-dark text-light", "label": "Dark"
        },
        {
          "value": "bg-primary text-white", "label": "Primary"
        },
        {
          "value": "bg-secondary text-white", "label": "Secondary"
        }
      ],
      "default": "bg-dark text-light"
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement text",
      "default": "Announce something important here"
    },
    {
      "type": "url",
      "id": "announcement_link_url",
      "label": "Announcement link URL"
    },
    {
      "type": "text",
      "id": "announcement_link_text",
      "label": "Announcement link text",
      "default": "Learn more"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "logo_height",
      "label": "Logo height (px)",
      "default": "30"
    },
    {
        "type": "text",
        "id": "logo_height_mobile",
        "label": "Logo height mobile (px)",
        "default": "30",
        "info": "Recommended is 30."
    },
    {
        "type": "html",
        "id": "image_svg",
        "label": "Use and svg image instead of logo image",
        "info": "Get free chat icons by going [Here](https://www.iconfinder.com/search/?q=chat&price=free) Watch this video to learn how to apply and svg [Here](https://www.iconfinder.com/search/?q=chat&price=free)"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu Position",
      "options": [
        {
          "value": "mr-auto", "label": "Left"
        },
        {
          "value": "mx-auto", "label": "Center"
        },
        {
          "value": "ml-auto", "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Menu dropdown animation"
    },
    {
      "type": "select",
      "id": "menu_animation_in",
      "label": "Animation entrance class",
      "info": "Pick an animation class name from [Animate.css](https:\/\/animate.style).",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Disabled"
        },
        {
          "value": "animate__bounceIn",
          "label": "bounceIn"
        },
        {
          "value": "animate__bounceInDown",
          "label": "bounceInDown"
        },
        {
          "value": "animate__bounceInLeft",
          "label": "bounceInLeft"
        },
        {
          "value": "animate__bounceInRight",
          "label": "bounceInRight"
        },
        {
          "value": "animate__bounceInUp",
          "label": "bounceInUp"
        },
        {
          "value": "animate__fadeIn",
          "label": "fadeIn"
        },
        {
          "value": "animate__fadeInDown",
          "label": "fadeInDown"
        },
        {
          "value": "animate__fadeInDownBig",
          "label": "fadeInDownBig"
        },
        {
          "value": "animate__fadeInLeft",
          "label": "fadeInLeft"
        },
        {
          "value": "animate__fadeInLeftBig",
          "label": "fadeInLeftBig"
        },
        {
          "value": "animate__fadeInRight",
          "label": "fadeInRight"
        },
        {
          "value": "animate__fadeInRightBig",
          "label": "fadeInRightBig"
        },
        {
          "value": "animate__fadeInUp",
          "label": "fadeInUp"
        },
        {
          "value": "animate__fadeInUpBig",
          "label": "fadeInUpBig"
        },
        {
          "value": "animate__rotateIn",
          "label": "rotateIn"
        },
        {
          "value": "animate__rotateInDownLeft",
          "label": "rotateInDownLeft"
        },
        {
          "value": "animate__rotateInDownRight",
          "label": "rotateInDownRight"
        },
        {
          "value": "animate__rotateInUpLeft",
          "label": "rotateInUpLeft"
        },
        {
          "value": "animate__rotateInUpRight",
          "label": "rotateInUpRight"
        },
        {
          "value": "animate__lightSpeedIn",
          "label": "lightSpeedIn"
        },
        {
          "value": "animate__rollIn",
          "label": "rollIn"
        },
        {
          "value": "animate__flip",
          "label": "flip"
        },
        {
          "value": "animate__flipInX",
          "label": "flipInX"
        },
        {
          "value": "animate__flipInY",
          "label": "flipInY"
        },
        {
          "value": "animate__slideInDown",
          "label": "slideInDown"
        },
        {
          "value": "animate__slideInLeft",
          "label": "slideInLeft"
        },
        {
          "value": "animate__slideInRight",
          "label": "slideInRight"
        },
        {
          "value": "animate__hinge",
          "label": "hinge (more for a joke not useful)"
        }
      ]
    },
    {
      "type": "select",
      "id": "menu_animation_duration",
      "label": "Animation duration",
      "default": "animate__faster",
      "options": [
          {
              "value": "animate__slower", "label": "Slower"
          },
          {
              "value": "animate__slow", "label": "Slow"
          },
          {
              "value": "", "label": "Normal"
          },
          {
              "value": "animate__fast", "label": "Fast"
          },
          {
              "value": "animate__faster", "label": "Faster"
          }
      ]
  },
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "select",
      "id": "navbar_color",
      "label": "Navbar Color",
      "default": "bg-white navbar-light",
      "options": [
        {
          "value": "bg-white navbar-light", "label": "White"
        },
        {
          "value": "bg-light navbar-light", "label": "Light"
        },
        {
          "value": "bg-dark navbar-dark", "label": "Dark"
        },
        {
          "value": "bg-primary navbar-dark", "label": "Primary"
        },
        {
          "value": "bg-secondary navbar-dark", "label": "Secondary"
        },
        {
          "value": "custom-nav-bg", "label": "Custom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "container",
      "label": "Wrap in container",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Sticky navbar",
      "default": true
    },
    {
        "type": "select",
        "id": "shadow_style",
        "label": "Shadow",
        "default": "shadow-sm",
        "options": [
            {
                "value": "shadow-none", "label": "No Shadow"
            },
            {
                "value": "shadow-sm", "label": "Shadow sm"
            },
            {
                "value": "shadow", "label": "Shadow"
            },
            {
                "value": "shadow-lg", "label": "Shadow lg"
            }
        ]
    },
    {
      "type": "header",
      "content": "Cart",
      "info": "This settings apply only to the cart icon with dropdown on header"
    },
    {
        "type": "select",
        "id": "cart_icon",
        "label": "Cart icon style",
        "default": "icon-shopping-cart",
        "options": [
            {
                "value": "icon-shopping-cart",
                "label": "Cart"
            },
            {
                "value": "icon-shopping-bag",
                "label": "Bag"
            },
            {
                "value": "icon-shopping-basket",
                "label": "Basket"
            },
            {
                "value": "icon-shopping-minecart",
                "label": "Minecart"
            }
        ]
    },
    {
      "type": "checkbox",
      "id": "cart_minicart_image_show",
      "label": "Show product image",
      "default": true
    },
    {
      "type": "text",
      "id": "cart_minicart_image_width",
      "label": "Image width (px)",
      "default": "64"
    },
    {
      "type": "text",
      "id": "cart_minicart_image_height",
      "label": "Image height (px)",
      "default": "64"
    },
    {
      "type": "checkbox",
      "id": "cart_minicart_image_border",
      "label": "Border",
      "default": false
    },
    {
      "type": "select",
      "id":  "cart_minicart_image_hover_effect",
      "label": "Hover effect",
      "default": "image-hover-shine",
      "options": [
        {
          "value": "image-hover", "label": "No effect"
        },
        {
          "value": "image-hover-fade-in", "label": "Fade in"
        },
        {
          "value": "image-hover-fade-out", "label": "Fade out"
        },
        {
          "value": "image-hover-scale-in", "label": "Scale in"
        },
        {
          "value": "image-hover-scale-out", "label": "Scale out"
        },
        {
          "value": "image-hover-flashing", "label": "Flashing"
        },
        {
          "value": "image-hover-shine", "label": "Shine"
        }
      ]
    },
    {
      "type": "header",
      "content": "Currency convertor"
    },
    {
      "type": "checkbox",
      "id": "currency_converter_enable",
      "label": "Enable currency converter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "currency_converter_show_filter",
      "label": "Show filter input",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "currency_converter_show_flag",
      "label": "Show flag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "currency_converter_detect_ip",
      "label": "Ask user via toast?",
      "info": "Ask to update store currency via IP detection ([IPAPI](https://ipapi.co)].",
      "default": true
    },
    {
      "type": "header",
      "content": "Advanced Settings"
    },
    {
      "type": "select",
      "id": "navbar_expand",
      "label": "Navbar expand",
      "info": "Responsive behaviour [Learn more](https://getbootstrap.com/docs/4.5/components/navbar/#responsive-behaviors)",
      "options": [
        {
          "value": "navbar-expand-sm", "label": "Expand small (sm)"
        },
        {
          "value": "navbar-expand-md", "label": "Expand medium (md)"
        },
        {
          "value": "navbar-expand-lg", "label": "Expand large (lg)"
        },
        {
          "value": "navbar-expand-xl", "label": "Expand extra-large (xl)"
        },
        {
          "value": "", "label": "Always collapse"
        }
      ],
      "default": "navbar-expand-lg"
    }
  ]
}
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    "logo": "https:{{ section.settings.logo | img_url: 'master' }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
