{{ 'pricing.css' | asset_url | stylesheet_tag }}
<div class="
  {% if section.settings.container %} container {% else %} container-fluid {% endif %}
  {{ section.settings.margin_top | prepend: 'mt-' }}
  {{ section.settings.margin_bottom | prepend: 'mb-' }}
  {{ section.settings.padding_top | prepend: 'pt-' }}
  {{ section.settings.padding_bottom | prepend: 'pb-' }}
  {{ section.settings.bg_color }}
">

  {% if section.settings.heading != blank %}
    <{{ section.settings.heading_size }} class="{{ section.settings.alignment }}">
      {{ section.settings.heading | escape }}
    </{{ section.settings.heading_size }}>
  {% endif %}

<div class="row">
    {%- for block in section.blocks -%}
   {%- assign product_card = all_products[block.settings.product_card] -%}
<div class="col-lg-3">
   <div class="card mb-5 mb-lg-0">
      <div class="card-body">
         <h3 class="card-title text-muted text-uppercase text-center" style="color:{{block.settings.cunt_title_color}}!important">{{ product_card.title}}</h3>
         <h4 class="card-price text-center">{{ product_card.price | money }}</h4>
         <hr>
         <ul class="fa-ul text-left">
{{ block.settings.html_area }}
         </ul>
        
         <center>
        <a href="/products/{{product_card.handle}}" class="btn {{ block.settings.btn_color }} {{ block.settings.btn_variant }} {{ block.settings.btn_size }} {{block.settings.btn_effect}} {% if block.settings.btn-block %}btn-block{% endif %}">
        {% if block.settings.button_label != blank %}{{ block.settings.button_label | escape }}{% else %}ORDER{% endif %}
        </a>
        </center>
      </div>
   </div>
</div>
{% endfor %}
</div>
</div>
{% schema %}
{
  "name": "Pricing Cards",
  "class": "text-center pt-2",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Packages"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "default": "h4",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "checkbox",
      "id": "container",
      "label": "Wrap in container",
      "default": true
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "options": [
        {
          "value": "bg-white",
          "label": "White"
        },
        {
          "value": "bg-light",
          "label": "Light"
        },
        {
          "value": "bg-dark",
          "label": "Dark"
        },
        {
          "value": "bg-primary",
          "label": "Primary"
        },
        {
          "value": "bg-secondary",
          "label": "Secondary"
        }
      ],
      "default": "bg-light"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "paragraph",
      "content": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 6
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 6
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin top",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 6
    }
  ],
  "blocks": [
    {
      "type": "ProductCard",
      "name": "Product Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "product_card",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "select",
          "id": "btn_color",
          "label": "Button color",
          "default": "btn-primary",
          "options": [
            {
              "value": "btn-primary",
              "label": "Primary"
            },
            {
              "value": "btn-secondary",
              "label": "Secondary"
            }
          ]
        },
      {
        "type": "color",
        "id": "cunt_title_color",
        "label": "Title color"
      },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button variant",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Normal"
            },
            {
              "value": "btn-outline",
              "label": "Outline"
            }
          ]
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button size",
          "default": "",
          "options": [
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "",
              "label": "Normal"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "btn-block",
          "label": "Enable full width",
          "default": true
        },
        {
          "type": "select",
          "id": "btn_effect",
          "label": "Button hover effect",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Disabled"
            },
            {
              "value": "btn-shine",
              "label": "Shine"
            },
            {
              "value": "btn-ripple",
              "label": "Ripple"
            },
            {
              "value": "btn-expand",
              "label": "Expand"
            }
          ]
        },
{
   "type": "html",
   "id": "html_area",
   "label": "Custom HTML",
   "default": "<div><p>Some HTML content</p></div>"
}
      ]
    }
  ],
  "presets": [
    {
      "name": "Price Cards",
      "category": "Product",
      "blocks": []
    }
  ]
}
{% endschema %}
<style>
  .fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center;
}
  .fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
    margin-top: -4px;
    margin-bottom: 25px;
}
  
  
</style>
